<!doctype html>
<html lang="en">
<!-- head -->
<%- include('./head') %>

    <body>
        <!-- header -->
        <%- include('./header') %>
            <!-- main block -->
            <%- include('./'+page) %>
                <!-- footer -->
                <%- include('./footer') %>
    </body>

</html>